

<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

	<p>
  		Splurty was built to permit user feedback to further expand the reach of ideas in plaid.
	</p>

	<br />

	<p>
		Built by <a target="_blank" href="https://jcgdxn.netlify.com"> This Guy </a>
	</p>

	<p>
		Don't hesitate to scale your plaid & contact <a target="_blank" href="https://online.bootcampspot.com">Immediately for colorature & designs</a>
	</p>

				<div class="row">
					<div class="col-12 col-sm-4" style="padding-top: 30px;">
					<%= image_tag("/public/Lonely_plaid.jpg", class: 'img-fluid') %>
					</div>

				<div class="col-12 col-sm-7 offset-sm-1">
					<h2 class="text-center">Jcgdxn, VP - clan Gorden </h2>
					<br />
					<p> Expanding to scale up a Web Presence,<br /> Here is an Idea to make IT Happen !!!
					</p>
					<br />
				</div>
				</div>

</div>

<br class="clear" />
<br />
<br />
<br />